USE [CuatroPatasDB]
GO
/****** Object:  DatabaseRole [Role_Backend]    Script Date: 10/06/2026 21:36:41 ******/
CREATE ROLE [Role_Backend]
GO
/****** Object:  DatabaseRole [Role_Reportes]    Script Date: 10/06/2026 21:36:41 ******/
CREATE ROLE [Role_Reportes]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[id_auditoria] [bigint] IDENTITY(1,1) NOT NULL,
	[tabla_afectada] [nvarchar](50) NOT NULL,
	[operacion] [nvarchar](10) NOT NULL,
	[id_registro] [int] NOT NULL,
	[id_usuario] [int] NULL,
	[datos_anteriores] [nvarchar](max) NULL,
	[datos_nuevos] [nvarchar](max) NULL,
	[fecha_evento] [datetime] NOT NULL,
	[ip_origen] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITA]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITA](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NOT NULL,
	[id_veterinario] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[duracion_minutos] [int] NOT NULL,
	[motivo] [nvarchar](255) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[dni] [nvarchar](20) NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cliente_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_CITA]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_CITA](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_cita] [int] NOT NULL,
	[id_servicio] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO_MASCOTA]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO_MASCOTA](
	[id_documento] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NOT NULL,
	[id_historial] [int] NULL,
	[tipo_doc] [nvarchar](50) NOT NULL,
	[nombre_archivo] [nvarchar](255) NOT NULL,
	[url_storage] [nvarchar](500) NOT NULL,
	[tamano_bytes] [int] NULL,
	[subido_por] [int] NOT NULL,
	[fecha_subida] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_MEDICO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_MEDICO](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NOT NULL,
	[id_cita] [int] NULL,
	[id_veterinario] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[diagnostico] [nvarchar](max) NULL,
	[tratamiento] [nvarchar](max) NULL,
	[observaciones] [nvarchar](max) NULL,
	[peso] [decimal](6, 2) NULL,
	[temperatura] [decimal](4, 2) NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO_VETERINARIO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO_VETERINARIO](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_veterinario] [int] NOT NULL,
	[dia_semana] [tinyint] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTA]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTA](
	[id_mascota] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[especie] [nvarchar](50) NOT NULL,
	[raza] [nvarchar](100) NULL,
	[fecha_nacimiento] [date] NULL,
	[edad_calculada]  AS (case when [fecha_nacimiento] IS NOT NULL then datediff(year,[fecha_nacimiento],getdate())  end),
	[peso] [decimal](6, 2) NULL,
	[color] [nvarchar](50) NULL,
	[sexo] [char](1) NULL,
	[numero_chip] [nvarchar](50) NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENTO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTO](
	[id_medicamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[tipo] [nvarchar](50) NULL,
	[presentacion] [nvarchar](100) NULL,
	[stock] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACION]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACION](
	[id_notificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_cita] [int] NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[canal] [nvarchar](20) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[enviado] [bit] NOT NULL,
	[fecha_programada] [datetime] NOT NULL,
	[fecha_enviado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_cita] [int] NOT NULL,
	[monto_total] [decimal](10, 2) NOT NULL,
	[monto_pagado] [decimal](10, 2) NOT NULL,
	[metodo_pago] [nvarchar](30) NULL,
	[estado_pago] [nvarchar](20) NOT NULL,
	[fecha_pago] [datetime] NULL,
	[observaciones] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESCRIPCION]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESCRIPCION](
	[id_prescripcion] [int] IDENTITY(1,1) NOT NULL,
	[id_historial] [int] NOT NULL,
	[id_medicamento] [int] NOT NULL,
	[dosis] [nvarchar](100) NOT NULL,
	[frecuencia] [nvarchar](100) NULL,
	[duracion_dias] [int] NULL,
	[indicaciones] [nvarchar](max) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prescripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFRESH_TOKEN]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFRESH_TOKEN](
	[id_token] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[fecha_expiracion] [datetime] NOT NULL,
	[revocado] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[duracion_minutos] [int] NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[ultimo_acceso] [datetime] NULL,
	[intentos_fallidos] [int] NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[fecha_bloqueo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[fecha_asignacion] [datetime] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VETERINARIO]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VETERINARIO](
	[id_veterinario] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[especialidad] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[numero_colegiado] [nvarchar](50) NULL,
	[activo] [bit] NOT NULL,
	[fecha_alta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_veterinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Vet_NumColegiado] UNIQUE NONCLUSTERED 
(
	[numero_colegiado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITORIA] ADD  DEFAULT (getdate()) FOR [fecha_evento]
GO
ALTER TABLE [dbo].[CITA] ADD  DEFAULT ((30)) FOR [duracion_minutos]
GO
ALTER TABLE [dbo].[CITA] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[CITA] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[DETALLE_CITA] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA] ADD  DEFAULT (getdate()) FOR [fecha_subida]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[HORARIO_VETERINARIO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MASCOTA] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MASCOTA] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[MEDICAMENTO] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[MEDICAMENTO] ADD  DEFAULT ((0)) FOR [precio_unitario]
GO
ALTER TABLE [dbo].[MEDICAMENTO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MEDICAMENTO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[NOTIFICACION] ADD  DEFAULT ((0)) FOR [enviado]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT ((0)) FOR [monto_pagado]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT ('Pendiente') FOR [estado_pago]
GO
ALTER TABLE [dbo].[REFRESH_TOKEN] ADD  DEFAULT ((0)) FOR [revocado]
GO
ALTER TABLE [dbo].[REFRESH_TOKEN] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[SERVICIO] ADD  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[SERVICIO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[SERVICIO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [intentos_fallidos]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [bloqueado]
GO
ALTER TABLE [dbo].[USUARIO_ROL] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[VETERINARIO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[VETERINARIO] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[MASCOTA] ([id_mascota])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_Cita_Mascota]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Veterinario] FOREIGN KEY([id_veterinario])
REFERENCES [dbo].[VETERINARIO] ([id_veterinario])
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_Cita_Veterinario]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_Cliente_Usuario]
GO
ALTER TABLE [dbo].[DETALLE_CITA]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCita_Cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[CITA] ([id_cita])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_CITA] CHECK CONSTRAINT [FK_DetalleCita_Cita]
GO
ALTER TABLE [dbo].[DETALLE_CITA]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCita_Servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[SERVICIO] ([id_servicio])
GO
ALTER TABLE [dbo].[DETALLE_CITA] CHECK CONSTRAINT [FK_DetalleCita_Servicio]
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA]  WITH CHECK ADD  CONSTRAINT [FK_Doc_Historial] FOREIGN KEY([id_historial])
REFERENCES [dbo].[HISTORIAL_MEDICO] ([id_historial])
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA] CHECK CONSTRAINT [FK_Doc_Historial]
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA]  WITH CHECK ADD  CONSTRAINT [FK_Doc_Mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[MASCOTA] ([id_mascota])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA] CHECK CONSTRAINT [FK_Doc_Mascota]
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA]  WITH CHECK ADD  CONSTRAINT [FK_Doc_Usuario] FOREIGN KEY([subido_por])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA] CHECK CONSTRAINT [FK_Doc_Usuario]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[CITA] ([id_cita])
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO] CHECK CONSTRAINT [FK_Historial_Cita]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[MASCOTA] ([id_mascota])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO] CHECK CONSTRAINT [FK_Historial_Mascota]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Veterinario] FOREIGN KEY([id_veterinario])
REFERENCES [dbo].[VETERINARIO] ([id_veterinario])
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO] CHECK CONSTRAINT [FK_Historial_Veterinario]
GO
ALTER TABLE [dbo].[HORARIO_VETERINARIO]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Vet] FOREIGN KEY([id_veterinario])
REFERENCES [dbo].[VETERINARIO] ([id_veterinario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HORARIO_VETERINARIO] CHECK CONSTRAINT [FK_Horario_Vet]
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MASCOTA] CHECK CONSTRAINT [FK_Mascota_Cliente]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[CITA] ([id_cita])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [FK_Notif_Cita]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [FK_Notif_Usuario]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[CITA] ([id_cita])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_Pago_Cita]
GO
ALTER TABLE [dbo].[PRESCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_Prescripcion_Historial] FOREIGN KEY([id_historial])
REFERENCES [dbo].[HISTORIAL_MEDICO] ([id_historial])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRESCRIPCION] CHECK CONSTRAINT [FK_Prescripcion_Historial]
GO
ALTER TABLE [dbo].[PRESCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_Prescripcion_Medicamento] FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[MEDICAMENTO] ([id_medicamento])
GO
ALTER TABLE [dbo].[PRESCRIPCION] CHECK CONSTRAINT [FK_Prescripcion_Medicamento]
GO
ALTER TABLE [dbo].[REFRESH_TOKEN]  WITH CHECK ADD  CONSTRAINT [FK_RT_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REFRESH_TOKEN] CHECK CONSTRAINT [FK_RT_Usuario]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[VETERINARIO]  WITH CHECK ADD  CONSTRAINT [FK_Veterinario_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[VETERINARIO] CHECK CONSTRAINT [FK_Veterinario_Usuario]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD CHECK  (([operacion]='DELETE' OR [operacion]='UPDATE' OR [operacion]='INSERT'))
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD CHECK  (([estado]='Cancelada' OR [estado]='Completada' OR [estado]='Confirmada' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[DOCUMENTO_MASCOTA]  WITH CHECK ADD CHECK  (([tipo_doc]='Otro' OR [tipo_doc]='Ecografia' OR [tipo_doc]='Foto' OR [tipo_doc]='Laboratorio' OR [tipo_doc]='Radiografia'))
GO
ALTER TABLE [dbo].[HISTORIAL_MEDICO]  WITH CHECK ADD CHECK  (([tipo]=N'Observacion' OR [tipo]=N'Tratamiento' OR [tipo]=N'Diagnostico' OR [tipo]=N'Cirugia' OR [tipo]=N'Vacuna' OR [tipo]=N'Consulta'))
GO
ALTER TABLE [dbo].[HORARIO_VETERINARIO]  WITH CHECK ADD CHECK  (([dia_semana]>=(1) AND [dia_semana]<=(7)))
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD CHECK  (([canal]='Push' OR [canal]='SMS' OR [canal]='Email'))
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD CHECK  (([tipo]='General' OR [tipo]='StockBajo' OR [tipo]='Cancelacion' OR [tipo]='Confirmacion' OR [tipo]='Recordatorio'))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([estado_pago]='Anulado' OR [estado_pago]='Pagado' OR [estado_pago]='Parcial' OR [estado_pago]='Pendiente'))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([metodo_pago]='Plin' OR [metodo_pago]='Yape' OR [metodo_pago]='Transferencia' OR [metodo_pago]='Tarjeta' OR [metodo_pago]='Efectivo'))
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_AddServicio]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Agregar servicio y recalcular monto del pago
CREATE PROCEDURE [dbo].[sp_Cita_AddServicio]
    @id_cita INT, @id_servicio INT, @cantidad INT = 1, @precio_unitario DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT INTO DETALLE_CITA (id_cita, id_servicio, cantidad, precio_unitario)
        VALUES (@id_cita, @id_servicio, @cantidad, @precio_unitario);
        UPDATE PAGO
        SET monto_total = (SELECT SUM(cantidad * precio_unitario) FROM DETALLE_CITA WHERE id_cita = @id_cita)
        WHERE id_cita = @id_cita;
        COMMIT TRANSACTION;
        SELECT SCOPE_IDENTITY() AS id_detalle;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_Cancel]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Cancelar cita
CREATE PROCEDURE [dbo].[sp_Cita_Cancel]
    @id_cita INT, @motivo_cancelacion NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE CITA
        SET estado             = 'Cancelada',
            observaciones      = ISNULL(observaciones, N'') + N' | Cancelada: ' + ISNULL(@motivo_cancelacion, N'Sin motivo'),
            fecha_modificacion = GETDATE()
        WHERE id_cita = @id_cita;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_ChangeStatus]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Cambiar estado de cita
CREATE PROCEDURE [dbo].[sp_Cita_ChangeStatus]
    @id_cita INT, @estado NVARCHAR(20), @observaciones NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE CITA
        SET estado             = @estado,
            observaciones      = ISNULL(@observaciones, observaciones),
            fecha_modificacion = GETDATE()
        WHERE id_cita = @id_cita;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_Create]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Crear cita con validacion de solapamiento y PAGO automatico
CREATE PROCEDURE [dbo].[sp_Cita_Create]
    @id_mascota       INT,
    @id_veterinario   INT,
    @fecha_hora       DATETIME,
    @duracion_minutos INT           = 30,
    @motivo           NVARCHAR(255) = NULL,
    @estado           NVARCHAR(20)  = 'Pendiente',
    @observaciones    NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF EXISTS (
            SELECT 1 FROM CITA
            WHERE id_veterinario = @id_veterinario
              AND estado NOT IN ('Cancelada')
              AND @fecha_hora < DATEADD(MINUTE, duracion_minutos, fecha_hora)
              AND fecha_hora  < DATEADD(MINUTE, @duracion_minutos, @fecha_hora)
        )
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 50001, 'El veterinario ya tiene una cita en ese rango horario.', 1;
        END
        INSERT INTO CITA (id_mascota, id_veterinario, fecha_hora, duracion_minutos, motivo, estado, observaciones)
        VALUES (@id_mascota, @id_veterinario, @fecha_hora, @duracion_minutos, @motivo, @estado, @observaciones);
        DECLARE @id_cita INT = SCOPE_IDENTITY();
        INSERT INTO PAGO (id_cita, monto_total, estado_pago) VALUES (@id_cita, 0, 'Pendiente');
        COMMIT TRANSACTION;
        SELECT @id_cita AS id_cita;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_GetServicios]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Obtener servicios de una cita
CREATE PROCEDURE [dbo].[sp_Cita_GetServicios]
    @id_cita INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        d.id_detalle, d.id_servicio, s.nombre AS servicio_nombre,
        d.cantidad, d.precio_unitario,
        (d.cantidad * d.precio_unitario) AS subtotal
    FROM DETALLE_CITA d
    INNER JOIN SERVICIO s ON d.id_servicio = s.id_servicio
    WHERE d.id_cita = @id_cita;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_List]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listar citas con filtros
CREATE PROCEDURE [dbo].[sp_Cita_List]
    @id_veterinario INT          = NULL,
    @id_cliente     INT          = NULL,
    @id_mascota     INT          = NULL,
    @estado         NVARCHAR(20) = NULL,
    @fecha_inicio   DATETIME     = NULL,
    @fecha_fin      DATETIME     = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.id_cita, c.fecha_hora, c.duracion_minutos, c.motivo, c.estado,
        m.nombre                       AS mascota_nombre,
        m.especie                      AS mascota_especie,
        v.nombre + N' ' + v.apellido   AS veterinario_nombre,
        cl.nombre + N' ' + cl.apellido AS cliente_nombre,
        cl.telefono                    AS cliente_telefono
    FROM CITA c
    INNER JOIN MASCOTA     m  ON c.id_mascota     = m.id_mascota
    INNER JOIN VETERINARIO v  ON c.id_veterinario = v.id_veterinario
    INNER JOIN CLIENTE     cl ON m.id_cliente     = cl.id_cliente
    WHERE (@id_veterinario IS NULL OR c.id_veterinario = @id_veterinario)
      AND (@id_cliente     IS NULL OR m.id_cliente     = @id_cliente)
      AND (@id_mascota     IS NULL OR c.id_mascota     = @id_mascota)
      AND (@estado         IS NULL OR c.estado         = @estado)
      AND (@fecha_inicio   IS NULL OR c.fecha_hora    >= @fecha_inicio)
      AND (@fecha_fin      IS NULL OR c.fecha_hora    <= @fecha_fin)
    ORDER BY c.fecha_hora;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_ListToday]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Citas del dia
CREATE PROCEDURE [dbo].[sp_Cita_ListToday]
    @id_veterinario INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @inicio DATETIME = CAST(CAST(GETDATE() AS DATE) AS DATETIME);
    DECLARE @fin    DATETIME = DATEADD(DAY, 1, @inicio);
    SELECT
        c.id_cita, c.fecha_hora, c.duracion_minutos, c.motivo, c.estado,
        m.nombre                       AS mascota_nombre,
        m.especie                      AS mascota_especie,
        v.nombre + N' ' + v.apellido   AS veterinario_nombre,
        cl.nombre + N' ' + cl.apellido AS cliente_nombre,
        cl.telefono                    AS cliente_telefono
    FROM CITA c
    INNER JOIN MASCOTA     m  ON c.id_mascota     = m.id_mascota
    INNER JOIN VETERINARIO v  ON c.id_veterinario = v.id_veterinario
    INNER JOIN CLIENTE     cl ON m.id_cliente     = cl.id_cliente
    WHERE c.fecha_hora >= @inicio AND c.fecha_hora < @fin
      AND (@id_veterinario IS NULL OR c.id_veterinario = @id_veterinario)
    ORDER BY c.fecha_hora;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Cita_Read]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Leer cita por ID
CREATE PROCEDURE [dbo].[sp_Cita_Read]
    @id_cita INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.id_cita, c.id_mascota, c.id_veterinario, m.id_cliente,
        c.fecha_hora, c.duracion_minutos, c.motivo, c.estado,
        c.observaciones, c.fecha_creacion, c.fecha_modificacion,
        m.nombre                       AS mascota_nombre,
        m.especie                      AS mascota_especie,
        v.nombre + N' ' + v.apellido   AS veterinario_nombre,
        cl.nombre + N' ' + cl.apellido AS cliente_nombre,
        COALESCE(u.email, cl.email)    AS cliente_email,
        cl.telefono                    AS cliente_telefono,
        p.estado_pago, p.monto_total, p.monto_pagado
    FROM CITA c
    INNER JOIN MASCOTA     m  ON c.id_mascota     = m.id_mascota
    INNER JOIN VETERINARIO v  ON c.id_veterinario = v.id_veterinario
    INNER JOIN CLIENTE     cl ON m.id_cliente     = cl.id_cliente
    LEFT  JOIN USUARIO     u  ON cl.id_usuario    = u.id_usuario
    LEFT  JOIN PAGO        p  ON c.id_cita        = p.id_cita
    WHERE c.id_cita = @id_cita;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard_Resumen]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Dashboard con ingresos reales desde PAGO
CREATE PROCEDURE [dbo].[sp_Dashboard_Resumen]
    @fecha_inicio DATE = NULL, @fecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        COUNT(CASE WHEN c.estado = 'Completada' THEN 1 END) AS citas_completadas,
        COUNT(CASE WHEN c.estado = 'Pendiente'  THEN 1 END) AS citas_pendientes,
        COUNT(CASE WHEN c.estado = 'Confirmada' THEN 1 END) AS citas_confirmadas,
        COUNT(CASE WHEN c.estado = 'Cancelada'  THEN 1 END) AS citas_canceladas,
        COUNT(DISTINCT c.id_mascota)                         AS mascotas_atendidas,
        (SELECT COUNT(*) FROM MEDICAMENTO WHERE activo = 1 AND stock <= 10) AS medicamentos_bajo_stock,
        (SELECT ISNULL(SUM(p.monto_pagado), 0)
         FROM PAGO p
         INNER JOIN CITA cc ON p.id_cita = cc.id_cita
         WHERE cc.estado = 'Completada'
           AND (@fecha_inicio IS NULL OR CAST(cc.fecha_hora AS DATE) >= @fecha_inicio)
           AND (@fecha_fin    IS NULL OR CAST(cc.fecha_hora AS DATE) <= @fecha_fin)
        ) AS ingresos_cobrados
    FROM CITA c
    WHERE (@fecha_inicio IS NULL OR CAST(c.fecha_hora AS DATE) >= @fecha_inicio)
      AND (@fecha_fin    IS NULL OR CAST(c.fecha_hora AS DATE) <= @fecha_fin);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialMedico_Create]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Crear registro de historial
CREATE PROCEDURE [dbo].[sp_HistorialMedico_Create]
    @id_mascota INT, @id_cita INT = NULL, @id_veterinario INT,
    @fecha DATE = NULL, @tipo NVARCHAR(50),
    @diagnostico NVARCHAR(MAX) = NULL, @tratamiento NVARCHAR(MAX) = NULL,
    @observaciones NVARCHAR(MAX) = NULL, @peso DECIMAL(6,2) = NULL, @temperatura DECIMAL(4,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF @fecha IS NULL SET @fecha = CAST(GETDATE() AS DATE);
        INSERT INTO HISTORIAL_MEDICO (id_mascota, id_cita, id_veterinario, fecha, tipo, diagnostico, tratamiento, observaciones, peso, temperatura)
        VALUES (@id_mascota, @id_cita, @id_veterinario, @fecha, @tipo, @diagnostico, @tratamiento, @observaciones, @peso, @temperatura);
        SELECT SCOPE_IDENTITY() AS id_historial;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialMedico_Delete]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Soft delete de historial
CREATE PROCEDURE [dbo].[sp_HistorialMedico_Delete]
    @id_historial INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE HISTORIAL_MEDICO SET activo = 0 WHERE id_historial = @id_historial;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialMedico_ListByMascota]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listar historial por mascota
CREATE PROCEDURE [dbo].[sp_HistorialMedico_ListByMascota]
    @id_mascota INT, @tipo NVARCHAR(50) = NULL, @fecha_inicio DATE = NULL, @fecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        h.id_historial, h.fecha, h.tipo, h.diagnostico,
        h.tratamiento, h.peso, h.temperatura,
        v.nombre + N' ' + v.apellido AS veterinario_nombre
    FROM HISTORIAL_MEDICO h
    INNER JOIN VETERINARIO v ON h.id_veterinario = v.id_veterinario
    WHERE h.id_mascota = @id_mascota AND h.activo = 1
      AND (@tipo IS NULL OR h.tipo = @tipo)
      AND (@fecha_inicio IS NULL OR h.fecha >= @fecha_inicio)
      AND (@fecha_fin    IS NULL OR h.fecha <= @fecha_fin)
    ORDER BY h.fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialMedico_ListVacunas]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Vacunas de una mascota
CREATE PROCEDURE [dbo].[sp_HistorialMedico_ListVacunas]
    @id_mascota INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        h.id_historial, h.fecha, h.diagnostico AS vacuna_nombre, h.observaciones,
        v.nombre + N' ' + v.apellido AS veterinario_nombre
    FROM HISTORIAL_MEDICO h
    INNER JOIN VETERINARIO v ON h.id_veterinario = v.id_veterinario
    WHERE h.id_mascota = @id_mascota AND h.tipo = N'Vacuna' AND h.activo = 1
    ORDER BY h.fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Mascota_GetHistorial]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Historial de mascota
CREATE PROCEDURE [dbo].[sp_Mascota_GetHistorial]
    @id_mascota INT, @tipo NVARCHAR(50) = NULL, @limite INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@limite)
        h.id_historial, h.fecha, h.tipo, h.diagnostico,
        h.tratamiento, h.peso, h.temperatura,
        v.nombre + N' ' + v.apellido AS veterinario_nombre
    FROM HISTORIAL_MEDICO h
    INNER JOIN VETERINARIO v ON h.id_veterinario = v.id_veterinario
    WHERE h.id_mascota = @id_mascota AND h.activo = 1
      AND (@tipo IS NULL OR h.tipo = @tipo)
    ORDER BY h.fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Mascota_GetProximasCitas]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Proximas citas de una mascota
CREATE PROCEDURE [dbo].[sp_Mascota_GetProximasCitas]
    @id_mascota INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.id_cita, c.fecha_hora, c.duracion_minutos, c.motivo, c.estado,
        v.nombre + N' ' + v.apellido AS veterinario_nombre
    FROM CITA c
    INNER JOIN VETERINARIO v ON c.id_veterinario = v.id_veterinario
    WHERE c.id_mascota = @id_mascota
      AND c.fecha_hora >= GETDATE()
      AND c.estado IN ('Pendiente','Confirmada')
    ORDER BY c.fecha_hora;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicamento_DescontarStock]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Descontar stock con control de concurrencia
CREATE PROCEDURE [dbo].[sp_Medicamento_DescontarStock]
    @id_medicamento INT, @cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE MEDICAMENTO WITH (UPDLOCK, ROWLOCK)
        SET stock = stock - @cantidad
        WHERE id_medicamento = @id_medicamento AND stock >= @cantidad AND activo = 1;
        IF @@ROWCOUNT = 0
            THROW 50002, 'Stock insuficiente o medicamento no encontrado.', 1;
        SELECT stock AS nuevo_stock FROM MEDICAMENTO WHERE id_medicamento = @id_medicamento;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicamento_ListStockBajo]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listar medicamentos con stock bajo
CREATE PROCEDURE [dbo].[sp_Medicamento_ListStockBajo]
    @stock_minimo INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_medicamento, nombre, tipo, stock, precio_unitario
    FROM MEDICAMENTO WHERE activo = 1 AND stock <= @stock_minimo
    ORDER BY stock, nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Medicamento_ReponerStock]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Reponer stock
CREATE PROCEDURE [dbo].[sp_Medicamento_ReponerStock]
    @id_medicamento INT, @cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE MEDICAMENTO SET stock = stock + @cantidad
        WHERE id_medicamento = @id_medicamento AND activo = 1;
        SELECT @@ROWCOUNT AS RowsAffected, stock AS nuevo_stock
        FROM MEDICAMENTO WHERE id_medicamento = @id_medicamento;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prescripcion_Create]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Crear prescripcion y descontar stock en una transaccion
CREATE PROCEDURE [dbo].[sp_Prescripcion_Create]
    @id_historial INT, @id_medicamento INT, @dosis NVARCHAR(100),
    @frecuencia NVARCHAR(100) = NULL, @duracion_dias INT = NULL,
    @indicaciones NVARCHAR(MAX) = NULL, @fecha_inicio DATE = NULL,
    @fecha_fin DATE = NULL, @cantidad_usar INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        INSERT INTO PRESCRIPCION (id_historial, id_medicamento, dosis, frecuencia, duracion_dias, indicaciones, fecha_inicio, fecha_fin)
        VALUES (@id_historial, @id_medicamento, @dosis, @frecuencia, @duracion_dias, @indicaciones, @fecha_inicio, @fecha_fin);
        DECLARE @id_prescripcion INT = SCOPE_IDENTITY();
        EXEC dbo.sp_Medicamento_DescontarStock @id_medicamento = @id_medicamento, @cantidad = @cantidad_usar;
        COMMIT TRANSACTION;
        SELECT @id_prescripcion AS id_prescripcion;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prescripcion_ListByHistorial]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listar prescripciones por historial
CREATE PROCEDURE [dbo].[sp_Prescripcion_ListByHistorial]
    @id_historial INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.id_prescripcion, p.id_medicamento, m.nombre AS medicamento_nombre,
        p.dosis, p.frecuencia, p.duracion_dias, p.indicaciones, p.fecha_inicio, p.fecha_fin
    FROM PRESCRIPCION p
    INNER JOIN MEDICAMENTO m ON p.id_medicamento = m.id_medicamento
    WHERE p.id_historial = @id_historial;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prescripcion_ListByMascota]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listar prescripciones por mascota
CREATE PROCEDURE [dbo].[sp_Prescripcion_ListByMascota]
    @id_mascota INT, @activas_solo BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.id_prescripcion, p.dosis, p.frecuencia, p.duracion_dias, p.fecha_inicio, p.fecha_fin,
        m.nombre AS medicamento_nombre, h.fecha AS fecha_historial,
        v.nombre + N' ' + v.apellido AS veterinario_nombre
    FROM PRESCRIPCION p
    INNER JOIN MEDICAMENTO      m ON p.id_medicamento = m.id_medicamento
    INNER JOIN HISTORIAL_MEDICO h ON p.id_historial   = h.id_historial
    INNER JOIN VETERINARIO      v ON h.id_veterinario = v.id_veterinario
    WHERE h.id_mascota = @id_mascota AND h.activo = 1
      AND (@activas_solo = 0 OR (p.fecha_fin IS NULL OR p.fecha_fin >= CAST(GETDATE() AS DATE)))
    ORDER BY h.fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_AssignRole]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Asignar rol a usuario
CREATE PROCEDURE [dbo].[sp_Usuario_AssignRole]
    @id_usuario INT, @id_rol INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM USUARIO_ROL WHERE id_usuario = @id_usuario AND id_rol = @id_rol)
        BEGIN
            INSERT INTO USUARIO_ROL (id_usuario, id_rol) VALUES (@id_usuario, @id_rol);
            SELECT 1 AS Success;
        END
        ELSE SELECT 0 AS Success;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Authenticate]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURES
-- NOTA: Se usan con prefijo de esquema dbo
-- para garantizar contexto correcto
-- =============================================

-- SP: Autenticar usuario
CREATE PROCEDURE [dbo].[sp_Usuario_Authenticate]
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        u.id_usuario, u.email, u.password_hash,
        u.activo, u.bloqueado, u.intentos_fallidos,
        STRING_AGG(r.nombre, ',') AS roles
    FROM USUARIO u
    LEFT JOIN USUARIO_ROL ur ON u.id_usuario = ur.id_usuario
    LEFT JOIN ROL r           ON ur.id_rol   = r.id_rol
    WHERE u.email = @email
    GROUP BY u.id_usuario, u.email, u.password_hash,
             u.activo, u.bloqueado, u.intentos_fallidos;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_RegisterFailedLogin]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Registrar intento fallido y bloquear al llegar a 5
CREATE PROCEDURE [dbo].[sp_Usuario_RegisterFailedLogin]
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @intentos INT;
    UPDATE USUARIO SET intentos_fallidos = intentos_fallidos + 1 WHERE email = @email;
    SELECT @intentos = intentos_fallidos FROM USUARIO WHERE email = @email;
    IF @intentos >= 5
        UPDATE USUARIO SET bloqueado = 1, fecha_bloqueo = GETDATE() WHERE email = @email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_RegisterSuccessLogin]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Registrar acceso exitoso
CREATE PROCEDURE [dbo].[sp_Usuario_RegisterSuccessLogin]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE USUARIO
    SET ultimo_acceso     = GETDATE(),
        intentos_fallidos = 0,
        bloqueado         = 0,
        fecha_bloqueo     = NULL
    WHERE id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_RemoveRole]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Remover rol de usuario
CREATE PROCEDURE [dbo].[sp_Usuario_RemoveRole]
    @id_usuario INT, @id_rol INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM USUARIO_ROL WHERE id_usuario = @id_usuario AND id_rol = @id_rol;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH THROW; END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Unlock]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Desbloquear usuario
CREATE PROCEDURE [dbo].[sp_Usuario_Unlock]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE USUARIO
    SET bloqueado = 0, intentos_fallidos = 0, fecha_bloqueo = NULL
    WHERE id_usuario = @id_usuario;
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Veterinario_GetAgenda]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Agenda del veterinario
CREATE PROCEDURE [dbo].[sp_Veterinario_GetAgenda]
    @id_veterinario INT, @fecha_inicio DATETIME, @fecha_fin DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.id_cita, c.fecha_hora, c.duracion_minutos, c.motivo, c.estado,
        m.nombre AS mascota_nombre, m.especie,
        cl.nombre + N' ' + cl.apellido AS cliente_nombre,
        cl.telefono AS cliente_telefono
    FROM CITA c
    INNER JOIN MASCOTA m  ON c.id_mascota = m.id_mascota
    INNER JOIN CLIENTE cl ON m.id_cliente = cl.id_cliente
    WHERE c.id_veterinario = @id_veterinario
      AND c.fecha_hora BETWEEN @fecha_inicio AND @fecha_fin
    ORDER BY c.fecha_hora;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Veterinario_GetStats]    Script Date: 10/06/2026 21:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Estadisticas del veterinario
CREATE PROCEDURE [dbo].[sp_Veterinario_GetStats]
    @id_veterinario INT, @fecha_inicio DATE = NULL, @fecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        COUNT(CASE WHEN c.estado = 'Completada' THEN 1 END) AS citas_completadas,
        COUNT(CASE WHEN c.estado = 'Pendiente'  THEN 1 END) AS citas_pendientes,
        COUNT(CASE WHEN c.estado = 'Confirmada' THEN 1 END) AS citas_confirmadas,
        COUNT(CASE WHEN c.estado = 'Cancelada'  THEN 1 END) AS citas_canceladas,
        COUNT(DISTINCT c.id_mascota)                         AS mascotas_atendidas
    FROM CITA c
    WHERE c.id_veterinario = @id_veterinario
      AND (@fecha_inicio IS NULL OR CAST(c.fecha_hora AS DATE) >= @fecha_inicio)
      AND (@fecha_fin    IS NULL OR CAST(c.fecha_hora AS DATE) <= @fecha_fin);
END
GO
